*{
    box-sizing: border-box;
}


body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}

button{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 2px solid rgba(rgb(76, 111, 114), rgb(41, 24, 52), rgb(129, 129, 212), 0);
    box-shadow: 2px 2px 10px rgba(rgb(76, 111, 114), rgb(41, 24, 52), rgb(129, 129, 212), 0);
    color: whitesmoke;
    background-color: blueviolet;
}

button:hover{
    background-color: rgb(44, 52, 167);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-leo{ color: cadetblue;}
.color-rob{ color:crimson;}

header{
    background-color: rgb(30, 30, 30);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.45em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header .nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: blueviolet;
}

header a:hover{
    color: rgb(61, 58, 150);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Imagetest.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    color: rgb(255, 255, 255);
}

#hero button{
    font-size: 1.7em;
}

#TFS .container{
    text-align: center;
    padding: 200px 12px;
}

#QS{
    background-color: rgb(30, 30, 30);
    color: white;
    text-align: center;
}

#QS h2{
    margin-top: 0;
    color: aliceblue;
    font-size: 3.5em;
}

#QS .container{
    padding: 100px 0px;
}

#QS p{
    color: aliceblue;
}

#QS .carta{
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Imagetest.jpg");
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Imagetest.jpg");
    background-position: center center;
    background-size: cover;
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("media/Imagetest.jpg");
    background-position: center center;
    background-size: cover;
}

#features .container{
    text-align: center;
    padding: 200px 12px;
}

#features li{
    margin: 15px 0px;
    font-weight: bold;
}

#JY{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(30, 30, 30);
    color: rgb(255, 255, 255);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 80vw;
}

#JY h2{
    font-size: 9vw;
}

#JY button{
    font-size: 5vw;
}

footer{
    background-color: rgb(48, 44, 50);
}

footer p{
    margin: 0;
    color: azure;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Fue un Lion hacer todo esto porque basicamente trate de probrarme a mi mismo segun lo que leia de este libro en ingles y... Hice que fuera muy Mobile Friendly y ha quedado ok! */

@media (min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #TFS .container{
        display: flex;
        justify-content: center;
    }

    #TFS .text{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding: 0px 30px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }

    #TFS .img-container{
        background-image: url("media/Imagetest.jpg");
        background-size: cover;
        background-position: center center;
        height: 200px;
        width: 300px;
    }

    #TFS h2{
        margin-top: 0px;
    }

    #QS .tc{
        display: flex;
        justify-content: center;
    }

    #QS p{
        display: block;
        margin-bottom: 30px;
    }
    
    #QS h3{
        margin-top: 0;
    }

    #QS .carta{
        padding: 50px;
        background-size: 100% 150px;
        background-repeat: no-repeat;
        background-position-y: 0;
        background-color: rgb(50,50,50);
        box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    }
    
}